/* CSS list.php */

h2 {
    text-align: center;
}

.carte {
    text-align: center;
    padding: 50px auto;
    height: 250px;
}

.uk-border-circle {
    height: 20vh;
}

.nomVoiture {
    margin: 0;
}