/* CSS index.php */

#h2Index {
    text-align: center;
}

.carte {
    text-align: center;
    padding: 50px auto;
    height: 250px;
}

.uk-border-circle {
    height: 30vh;
}

.nomVoiture {
    margin: 0;
}

/* ajout.php */